{% extends 'base.html' %}

{% block content %}
<h1 class="text-white">{{ posting.title }}</h1>
<p class="text-white">{{ posting.created_at}} | {{posting.updated_at}} </p>

<p>
    <a class="text-white" href="{% url 'account:get_steam_user_info' posting.user.steam_url %}">{{posting.user.username}} profile</a>
</p>


<p class="text-white">
    {{ posting.content | linebreaksbr }}
</p>

<p>
    <a href="{% url 'community:update' posting.pk %}">
        <button>수정</button>
    </a>
</p>

<p>
    <form action="{% url 'community:delete' posting.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제</button>
    </form>
</p>




{% if request.user.is_authenticated %}

    {% include 'community/_reply_form.html' %}
{% endif %}


{% include 'community/_reply_list.html' %}

{% endblock content %}





